.buttonDel {
  margin-left: 15px;
  padding: 5px;
  border-radius: 5px;
}
.buttonDel {
  background-color: rgb(75, 125, 131, 0.5);
}
.buttonDel:hover {
  background-color: rgb(75, 125, 131);
}

li {
  margin-bottom: 10px;
}
